@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
.gradient-text {
  font-family: 'Rubik One', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #1f4a8f 33%, #45c4e4 66%, #7be2c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #224479;
  display: table;
  margin: 20px auto;
}

body{
    font-family: 'Fira Code', monospace;
    margin: 5;
    background: linear-gradient(45deg, #a0f3d7, #8ecfec);
    color: #87f8e9;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6{
    margin:2
}

.container {
    width: 100%;
    max-width: 1920px;
    margin:2;
}

.intro {
    width: 100%;
    height: 100vh;
}

/*input[type="text"] {
    font-family: 'Fira Code', monospace;
    background: #013c4b9d;
    color: #ffffff;
    height: 1080px;
    width: 1920px;
    font-size: 17px;
}*/

/*.sumbit{
    width:  500px;
    height: 1000px;
    font-size:17px;
    color: #ffffff;
    font-family: 'Fira Code', monospace;
    background: #ffffff00;
}*/

label,
textarea {
    font-size: .9rem;
    font-size: 17px;
    letter-spacing: 1px;
    color: #57daa7;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 1px;
    border: 4px solid rgb(120, 214, 183);
    box-shadow: 1px 1px 1px rgb(107, 172, 189);
    background: #d7ffec;
    color: #000000;
    font-family: 'Fira Code', monospace;
}

label {
    display: block;
    margin-bottom: 10px;
}
